biblioteka1.1/biblioteka1/Connected Services/ServiceReference2/WcfUserDoBazy.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfUserDoBazy" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfUserDoBazy" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="Uzytkownik">
    <xs:sequence>
      <xs:element minOccurs="0" name="emaileee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="haslo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nazwisko" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pesel" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Uzytkownik" nillable="true" type="tns:Uzytkownik" />
</xs:schema>