biblioteka1.1/biblioteka1/Connected Services/ServiceReference1/WcfKsiazkaDoBazy.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfKsiazkaDoBazy" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfKsiazkaDoBazy" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="Ksiazka">
    <xs:sequence>
      <xs:element minOccurs="0" name="dataWypozyczenia" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dataZwrotu" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="iloscStron" type="xs:int" />
      <xs:element minOccurs="0" name="imieAutora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="licznikPrzedluzen" type="xs:int" />
      <xs:element minOccurs="0" name="licznikWypozyczen" type="xs:int" />
      <xs:element minOccurs="0" name="nazwiskoAutora" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nrISBN" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="rezerwacje" nillable="true" type="q1:QueueOfint" />
      <xs:element minOccurs="0" name="rodzaj" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stan" type="xs:boolean" />
      <xs:element minOccurs="0" name="tytul" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ksiazka" nillable="true" type="tns:Ksiazka" />
</xs:schema>