biblioteka1.1/biblioteka1/Connected Services/ServiceReference3/WcfWypozyczeniaDoBazy.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfWypozyczeniaDoBazy" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfWypozyczeniaDoBazy" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="Wypozyczenie">
    <xs:sequence>
      <xs:element minOccurs="0" name="czyAktualne" type="xs:boolean" />
      <xs:element minOccurs="0" name="dataWypozczyenia" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dataZwrotu" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idKsiazki" type="xs:int" />
      <xs:element minOccurs="0" name="idUsera" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Wypozyczenie" nillable="true" type="tns:Wypozyczenie" />
</xs:schema>